In [ ]:
#import necessary libraries
import pandas as pd

In [2]:
#Read csv file
df= pd.read_csv("/content/drive/MyDrive/CW2 DSPL/Dataset DSPL CW2.csv")

In [3]:
# Remove the first row (which contains metadata, not actual data)
df = df.iloc[1:].reset_index(drop=True)

In [5]:
# Drop rows with missing essential information
df = df.dropna(subset=['Country Name', 'Series Name'])

In [6]:
df_long = df.melt(
    id_vars=['Country Name', 'Series Name'],
    value_vars=[col for col in df.columns if '[YR' in col],
    var_name='Year',
    value_name='Value'
)

In [7]:
# Extract numeric year from column name like '1960 [YR1960]'
df_long['Year'] = df_long['Year'].str.extract(r'(\d{4})').astype(float)

In [8]:
# Convert Value to numeric (some are '..' as string)
df_long['Value'] = pd.to_numeric(df_long['Value'], errors='coerce')

In [9]:
# Drop rows with missing year or value
df_long = df_long.dropna(subset=['Year', 'Value'])

In [10]:
# Reset index
df_long = df_long.reset_index(drop=True)

# Display cleaned data
print(df_long.info())
print(df_long.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44173 entries, 0 to 44172
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  44173 non-null  object
 1   Series Name   44173 non-null  object
 2   Year          44173 non-null  float64
 3   Value         44173 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.3+ MB
None
  Country Name                                        Series Name    Year  \
0    Sri Lanka  Agriculture, forestry, and fishing, value adde...  1960.0
1    Sri Lanka           Exports of goods and services (% of GDP)  1960.0
2    Sri Lanka           Fertility rate, total (births per woman)  1960.0
3    Sri Lanka                                  GDP (current US$)  1960.0
4    Sri Lanka                 Gross capital formation (% of GDP)  1960.0

          Value
0  3.210420e+01
1  2.995325e+01
2  5.352000e+00
3  1.409874e+09
4  1.420657e+01

In [11]:
# Save the Preprocessed data to a new CSV file
df.to_csv("preprocessed_dataset.csv", index=False)